@use "variables" as *;
@use "mixin";

.products {
  width: 80%;
  /*cambiar de 1100px a 80% hace que sea responsive y el grid view se ajuste*/
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  /*repeat los valores de los productos de acuerdo al listado*/
  /*minmax para que ocupe la columna el minimo de 250px y el maximo de 1fr*/
  /*1fr es un valor flexible proporcional a la pantalla*/
  color: $black-color;

  article {
    cursor: pointer;
    text-align: center;
  }

  img {
    width: 200px;
    margin-bottom: 15px;
  }

  h3 {
    font-weight: 500;
    font-size: 17px;
    margin-bottom: 5px;
  }

  p {
    font-weight: 300;
    font-size: 15px;
  }

  button {
    margin-top: 10px;
    padding: 10px 15px;
    background-color: $button-addcolor;
    border: none;
    border-radius: 5px;
    color: $white-color;
    font-size: 14px;
    cursor: pointer;
    z-index: 50;
  }

  .cart-product_add.active {
    background-color: $button-addcolor-active;
  }
}
