body {
  width: 100%;
  font-size: 15px;
  font-weight: 300;
  color: #000;
  font-family: "Lexend", sans-serif;
  margin: 0;
}


header {
  display: flex;
  align-items: center;
  width: 100%;
  height: 20dvh;
  padding: 20px 50px;
  background-color: #333;
  justify-content: space-between;
  box-sizing: border-box;
}
header .header-icon__menu,
header .header-icon__carrito {
  width: 50px;
  cursor: pointer;
  display: inline-flexbox;
}
header .header-icon__menu--img,
header .header-icon__carrito--img {
  width: 100%;
}
header .header-logo {
  width: 100px;
}
header .header-icon__carrito-button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  position: relative;
}
header .header-icon__carrito-button.active {
  border: 2px solid #ff0000 !important;
}
header .cart-count {
  position: absolute;
  top: -10px;
  right: -10px;
  background-color: #ff0000;
  color: #fff;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  font-weight: bold;
}

.banner {
  display: flex;
  width: 100%;
  height: 20dvh;
  text-align: center;
  flex-direction: column;
  background-image: url("../assets/banner.jpg");
  opacity: 0.8;
  background-size: cover;
  background-position-x: 75%;
}
.banner h2 {
  width: 100%;
  font-size: 30px;
  font-weight: 600;
  color: #fff;
  margin: 0;
  border: 0;
  color: rgb(10, 88, 234);
}
.banner p {
  width: 100%;
  /*change from 350px to 100% make it be along all the screen as rect line*/
  margin: 0;
  font-size: 25px;
  opacity: 0.8;
  color: #000;
}

@media (max-width: 674px) {
  .banner h2 {
    font-size: 25px;
  }
  .banner p {
    font-size: 20px;
  }
}
.products {
  width: 80%;
  /*cambiar de 1100px a 80% hace que sea responsive y el grid view se ajuste*/
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  /*repeat los valores de los productos de acuerdo al listado*/
  /*minmax para que ocupe la columna el minimo de 250px y el maximo de 1fr*/
  /*1fr es un valor flexible proporcional a la pantalla*/
  color: #000;
}
.products article {
  cursor: pointer;
  text-align: center;
}
.products img {
  width: 200px;
  margin-bottom: 15px;
}
.products h3 {
  font-weight: 500;
  font-size: 17px;
  margin-bottom: 5px;
}
.products p {
  font-weight: 300;
  font-size: 15px;
}
.products button {
  margin-top: 10px;
  padding: 10px 15px;
  background-color: #e8b408;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
  z-index: 50;
}
.products .cart-product_add.active {
  background-color: #83e808;
}

.cart {
  display: none;
  width: 60vw;
  background-color: #87c7e0;
  padding: 25px;
  box-sizing: border-box;
  height: 50dvh;
  position: fixed;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /*para que se quede fija, es necesario right and top*/
  right: 5vw;
  /*para que no se vea*/
  top: 100px;
  color: #000;
  box-shadow: -25px 30px 10px 15px rgba(0, 0, 0, 0.3);
  /* -19hacia la izquierda, 1 hacia arriba, 22 desenfoque mas difuso, 15 radio de expansion*/
  /*rgba es para el color de la sombra 0.3 para la opacidad*/
  opacity: 0;
  transition: opacity 0.8s ease;
  border-radius: 15px;
}

.cart-product {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid #000;
  text-align: center;
  width: 100%;
  height: fit-content;
}
.cart-product img {
  width: 80px;
  height: 80px;
}
.cart-product button {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
}
.cart-product p {
  font-size: 1.3em;
  font-weight: 800;
  margin: 0;
  padding: 0;
}
.cart-product p:nth-child(2) {
  font-weight: 600;
  /*selecciona el segundo p(nth-child 2) de la clase cart en el div, para que sea negrita*/
}
.cart-product i {
  cursor: pointer;
}
.cart-product .delete-icon {
  width: 30px;
  height: 30px;
}
.cart-product__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (max-width: 500px) {
  .cart-product img {
    width: 50px;
    height: 50px;
  }
  .cart-product p {
    font-size: 0.8em;
  }
  .cart-product .delete-icon {
    width: 20px;
    height: 20px;
  }
}
.menu {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 65dvh;
  width: 20vw;
  background-color: #f5f5f5;
  position: fixed;
  top: 15dvh;
  left: 20px;
  box-shadow: 2px 8px 5px rgba(0, 0, 0, 0.3);
  padding: 20px;
  box-sizing: border-box;
  color: #000;
  transition: opacity 0.8s ease;
  opacity: 0;
  border-radius: 15px;
}

.header-icon__menu-button {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  cursor: pointer;
}
.header-icon__menu-button:focus {
  border-bottom: 2px solid #000;
}

.menu-close__button {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
}

.menu-close__text {
  font-size: 1.5em;
  font-weight: bold;
  cursor: pointer;
}

/*# sourceMappingURL=main.css.map */
