header {
  display: flex;
  align-items: center;
  width: 100vw;
  height: 20dvh;
  padding: 20px 50px;
  background-color: #333;
  justify-content: space-between;
  box-sizing: border-box;
}
header header .header-icon__menu,
header header .header-icon__carrito {
  width: 50px;
  cursor: pointer;
  display: inline-flexbox;
}
header header .heder-logo {
  height: 20px;
}
header header .header-icon__carrito-button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
}
header header .header-icon__carrito-button .active {
  border: 1px solid #ed0e0e;
}

.banner {
  width: 100%;
  height: 70%;
  padding: 40px 0;
  text-align: center;
  background-image: url("../assets/banner.jpg");
  opacity: 0.8;
  background-size: cover;
  background-position-x: 75%;
}

.banner .banner h2 {
  width: 100%;
  font-size: 30px;
  font-weight: 600;
  color: #fff;
  margin: 10px;
}

.banner .banner p {
  width: 100%;
  /*change from 350px to 100% make it be along all the screen as rect line*/
  margin: 0 auto;
  font-size: 25px;
  opacity: 0.8;
  color: #000;
}

.products {
  width: 80%;
  /*cambiar de 1100px a 80% hace que sea responsive y el grid view se ajuste*/
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  /*repeat los valores de los productos de acuerdo al listado*/
  /*minmax para que ocupe la columna el minimo de 250px y el maximo de 1fr*/
  /*1fr es un valor flexible proporcional a la pantalla*/
  color: #000;
}

.products .products article {
  cursor: pointer;
  text-align: center;
}

.products .products img {
  width: 200px;
  margin-bottom: 15px;
}

.products .products h3 {
  font-weight: 500;
  font-size: 17px;
  margin-bottom: 5px;
}

.products .products p {
  font-weight: 300;
  font-size: 15px;
}

.cart {
  display: none;
  width: 60vw;
  background-color: #87c7e0;
  padding: 25px;
  box-sizing: border-box;
  height: 50dvh;
  position: fixed;
  flex-direction: column;
  /*para que se quede fija, es necesario right and top*/
  right: 5vw;
  /*para que no se vea*/
  top: 100px;
  color: #000;
  box-shadow: -25px 30px 10px 15px rgba(0, 0, 0, 0.3);
  /* -19hacia la izquierda, 1 hacia arriba, 22 desenfoque mas difuso, 15 radio de expansion*/
  /*rgba es para el color de la sombra 0.3 para la opacidad*/
  opacity: 0;
  transition: opacity 0.8s ease;
  border-radius: 15px;
}

.cart-product {
  display: flex;
  align-items: center;
  flex-direction: row;
  grid-template-columns: 20px auto;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #000;
  text-align: center;
  font-size: 0.8em;
  font-weight: 600;
  padding: 25px 0;
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
}

.cart-product .cart-product img {
  width: 30px;
  height: 30px;
}

.cart-product .cart-product p:nth-child(2) {
  font-weight: 800;
  /*selecciona el segundo p(nth-child 2) de la clase cart en el div, para que sea negrita*/
}

.cart-product .cart-product i {
  cursor: pointer;
}

.cart-product .cart-product .delete-icon {
  width: 10px;
}

.cart-product .cart-product__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}/*# sourceMappingURL=main.css.map */