body {
  width: 100%;
  /* para que ocupe ancho toda la pagina*/
  font-size: 15px;
  /*de todas las letras*/
  font-weight: 300;
  color: #999;
  font-family: "Lexend", sans-serif;
  margin: 0;
  /* para que no se quede el margen */
}

img {
  width: 100px;
}

header {
  width: 100%;
  padding: 20px 50px;
  background-color: #333;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  align-items: center;
}

/*PREVIAMENTE ESTABA ASI, PERO SE CAMBIO A CLASES ESPECIFICAS PARA CADA ICONO
/* header i {
  width: 50px;
  cursor: pointer;
  display: inline-flexbox;
}

header i img {
  width: 100%;
} */

.header-icon__menu,
.header-icon__carrito {
  width: 50px;
  cursor: pointer;
  display: inline-flexbox;
}

,
.header-icon__menu--img,
.header-icon__carrito--img {
  width: 100%;
}

.banner {
  width: 100%;
  height: 70%;
  padding: 40px 0;
  text-align: center;
  background-image: url("../assets/banner.jpg");
  opacity: 0.8;
  /*para que no se repita la imagen*/
  background-size: cover;
  /*para que ocupe toda la pantalla*/
  background-position-x: 75%;
  /*para mover hacia la derecha, si se usa y puede moverse la imagen hacia arriba*/
}

.banner h2 {
  width: 100%;
  font-weight: 600;
  font-size: 30px;
  margin: 10px;
  color: #fff;
}

.banner p {
  width: 100%;
  /*change from 350px to 100% make it be along all the screen as rect line*/
  margin: 0 auto;
  font-size: 25px;
  opacity: 0.8;
  color: #000;
}

.products {
  width: 80%;
  /*cambiar de 1100px a 80% hace que sea responsive y el grid view se ajuste*/
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  /*repeat los valores de los productos de acuerdo al listado*/
  /*minmax para que ocupe la columna el minimo de 250px y el maximo de 1fr*/
  /*1fr es un valor flexible proporcional a la pantalla*/
  color: #000;
}

.products article {
  cursor: pointer;
  text-align: center;
}

.products img {
  width: 200px;
  margin-bottom: 15px;
}

.products h2 {
  font-weight: 500;
  font-size: 17px;
  margin-bottom: 5px;
}

.products p {
  font-weight: 300;
  font-size: 15px;
}

.cart {
  width: 500px;
  background-color: #fff;
  padding: 25px;
  box-sizing: border-box;
  height: 100%;
  position: fixed;
  /*para que se quede fija, es necesario right and top*/
  right: 0%;
  /*para que no se vea*/
  top: 100px;
  color: #000;
  box-shadow: -19px -1px 22px -15px rgba(0, 0, 0, 0.3);
  /* -19hacia la izquierda, 1 hacia arriba, 22 desenfoque mas difuso, 15 radio de expansion*/
  /*rgba es para el color de la sombra 0.3 para la opacidad*/
  opacity: 0;
}

.cart h2 {
  width: 100%;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  padding: 25px 0;
  box-sizing: border-box;
}

.cart div {
  border-bottom: 1px solid #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  box-sizing: border-box;
}

.cart img {
  width: 60px;
}

.cart div p:nth-child(3) {
  font-weight: 800;
  /*selecciona el segundo p(nth-child 2) de la clase cart en el div, para que sea negrita*/
}

.cart div i {
  width: 25px;
  cursor: pointer;
}

.cart .delete-icon {
  width: 100%;
}

/* or
.cart .delete-icon {
    width: 20px;
}*/

@media (max-width: 820px) {
  header {
    padding: 15px;

    img {
      width: 60px;
    }

    i {
      width: 30px;
    }
  }

  .products {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }

  .products img {
    width: 150px;
  }

  .cart {
    width: 400px;
    top: 80px;
  }
}

@media (max-width: 480px) {
  . banner {
    padding: 30px 0;
  }

  .banner h2 {
    font-size: 20px;
  }

  .banner p {
    font-size: 16px;
    padding: 0 10px;
  }

  .products {
    grid-template-columns: 1fr;
    padding: 10px;
  }

  .products img {
    width: 100%;
    max-width: 200px;
    margin-bottom: 10px;
  }

  .products h3,
  .products p {
    padding: 0 10px;
  }

  .cart {
    width: 100%;
    box-shadow: none;
  }

  .cart h2 {
    padding: 15px 0;
  }

  .cart div {
    flex-direction: column;
    align-items: flex-center;
  }

  .cart img {
    width: 100px;
  }

  .cart p {
    margin: 0;
  }
}
