$black-color: #000;
$white-color: #fff;
$red-color: #ff0000;
$header-background: #333;
$cart-box-shadow-color: rgba(0, 0, 0, 0.3);
$cart-background-color: #87c7e0;
$banner-h2-color: rgb(10, 88, 234);
$button-addcolor: #e8b408;
$button-addcolor-active: #83e808;
